/* #region Загальні стилі */
body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}

/* #region Forgot Password Section */

h2 {
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-weight: 600;
}

p {
    color: #000000;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 0;
}

.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    flex-wrap: wrap;
}

.forgot-password-container section {
    flex: 1;
    max-width: 80%;
}

.forgot-section {
    position: relative;
}

.arrow {
    width: 160px;
    /* Розмір стрілки */
    height: auto;
    position: absolute;
    top: -96px;
    transform: translateX(10%);
    z-index: 10;
}
.forgot-section {
    background: #FFFFFF;
    padding: 20px 44px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.illustration {
    width: 98%;
    height: auto;
    object-fit: cover;
    margin-left: 44px;
}

.forgot-box {
    display: flex;
    flex-direction: column;
    width: calc(100% - 64px);
    max-width: 400px;
    padding: 4px 32px 20px 32px;
    align-items: flex-start;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    border: 1px solid #ccd3fc;
    background-color: #ffffff;
    margin:  auto;
}

.email-input {
    width: calc(100% - 40px);
    max-width: 400px;
    padding: 12px 20px;
    margin-bottom: 28px;
    border: 1px solid #ccd3fc;
    border-radius: 12px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #757575;
    transition: border-color 0.3s ease;
}

.email-input:focus {
    border-color: #78a1bb;
    /* Колір рамки при фокусі */
    outline: none;
    /* Видаляє стандартний блакитний контур браузера */
}
.password-input {
    width: calc(100% - 40px);
    max-width: 400px;
    padding: 12px 20px;
    margin-bottom: 28px;
    border: 1px solid #ccd3fc;
    border-radius: 12px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #757575;
    transition: border-color 0.3s ease;
}
.password-input:focus {
    border-color: #78a1bb;
    /* Колір рамки при фокусі */
    outline: none;
    /* Видаляє стандартний блакитний контур браузера */
}
.confirm-password-input {
    width: calc(100% - 40px);
    max-width: 400px;
    padding: 12px 20px;
    margin-bottom: 28px;
    border: 1px solid #ccd3fc;
    border-radius: 12px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #757575;
    transition: border-color 0.3s ease;
}
.confirm-password-input:focus {
    border-color: #78a1bb;
    /* Колір рамки при фокусі */
    outline: none;
    /* Видаляє стандартний блакитний контур браузера */
}

.forgot-section .btn {
    width: 100%;
    padding: 12px 20px;
    background-color: rgba(1, 32, 53, 1);
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    text-align: center;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.forgot-section .btn:hover {
    background-color: #0c101a;
}

.button-view1 {
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 1em;
    margin-left: 5px;
}

.button-view2 {
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 1em;
    margin-left: 5px;
}

.button-view1:hover {
    background: none !important;
    border: none !important;
    text-decoration: none !important;
    cursor: pointer !important;
}

.button-view2:hover {
    background: none !important;
    border: none !important;
    text-decoration: none !important;
    cursor: pointer !important;
}

.password-things1 {
    display: flex;
    align-items: center;
    width: 100%;
}
.password-things2 {
    display: flex;
    align-items: center;
    width: 100%;
}
.confirm-password-input {
    padding: 10px;
    font-size: 1em;
    flex-grow: 1;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    margin-bottom: 16px;
    color: #283044;
    font-family: "Inter";
}

.password-input {
    padding: 10px;
    font-size: 1em;
    flex-grow: 1;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    margin-bottom: 16px;
    color: #283044;
    font-family: "Inter";
}
/* #endregion */