body {
  font-family: "Jost", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #DCECFC;
  color: #333;
}
.site-header {
  background-color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}

.container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 24px;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 24px;
  font-family: 'Jost', sans-serif;
}

.logo img {
  height: 30px;
  margin-right: 8px;
}

.nav-menu {
  display: flex;
  gap: 24px;
  font-family: 'Jost', sans-serif;
  font-size: 18px;
}

.nav-menu a {
  text-decoration: none;
  color: #000;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 18px;
}

.search {
  position: relative; /* Дозволяє позиціювати іконку відносно контейнера */
  display: inline-block;
  max-width: 300px; /* Максимальна ширина поля пошуку */
}
/* Поле для вводу */
.search input[type="text"]  {
  width: 100%; /* Поле займає всю ширину контейнера */
  padding: 5px; /* Відступ справа для іконки + текст зліва */
  border-radius: 4px;
  font-family: 'Jost', sans-serif;
  border: 2px solid #c7c7c7;
  font-size: 16px;
  box-sizing: border-box; /* Увімкнення врахування padding */
  border-radius: 12px;
  width: 300px;
  
}

/* Іконка пошуку */
.search .search-btn {
  position: absolute; /* Позиціонування всередині контейнера */
  top: 50%; /* Центрування по вертикалі */
  right: 10px; /* Відступ від правого краю */
  transform: translateY(-50%); /* Вирівнювання по центру */
  width: 20px; /* Розмір іконки */
  height: 20px; /* Висота іконки */
  cursor: pointer; /* Курсор у вигляді руки при наведенні */
}



.lang-switcher a {
  text-decoration: none;
  color: #000;
  font-family: 'Jost', sans-serif;
  font-size: 16px;
}

.sign-in-btn {
  background-color: #283044;
  color: #fff;
  padding: 5px 16px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-family: 'Jost', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.sign-in-btn:hover {
  background-color: #545F7A;
  color: #fff;
  transform: scale(1.05);
  transition: all 0.1s ease;
}
  main {
    background: #DCECFC;
    padding-bottom: 120px;
  }
  
/* Загальний стиль для hero-section */
.hero-section {
  position: relative;
  background-color: #DCECFC; /* Світло-блакитний фон */
  overflow: hidden;
  padding: 50px 0;
}

.discription {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background: url('images/photo_2024-12-03_00-29-53.jpg') no-repeat center;
  max-width: 1150px;
  padding: 120px 60px 0px 60px;
}

.discription h2 {
  font-size: 36px;
  width: 600px;
  margin-top: -20px;
  margin-bottom: 20px;
}

.discription p {
  font-size: 20px;
  width: 400px;
  margin: 0;
}

.discription .text-container {
  display: flex;
  flex-direction: column;
 height: 400px;
  width: 600px;
  margin-top: -20px;
}

.discription img {
  max-width: 70%;
  height: auto;
  margin-top: -76px;
  transform: translateX(5%);
}

.text-container .btn  {
  margin-top: 40px;
    display: inline-block;
    padding: 10px 20px 5px  20px ;
    background-color: #283044;
    color: white;
    text-decoration: none;
    border-radius: 12px;
    width: 100px;
    height: 30px;
  }
  .text-container .btn:hover {
    background: #0c101a;;
  }
  
  

  
 /* Footer */
.logo {
  display: flex;
  align-items: center;    
  gap: 10px;
  font-family: "Jost", sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-right: 40px; 
  user-select: none;
}

.logo img {
  width: 35px;
  height: auto;
}
.footer {
    background: #283044;
    height: auto;
    color: #fff;
    padding: 50px 0;
    font-family: "Jost", sans-serif;; 
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;  
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
     
}

.footer-content {
    width: 90%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

footer .logo { 
  border-right: 1px solid #b3b8c4a8;
  padding-right: 100px;  
  height: 100px;
}

footer .logo span {
  font-family: "Jost", sans-serif;
  font-size: 26px;
  font-weight: 600;
  color: #ffffff;
  gap: 20px;
}

.footer-left {
  display: flex;
  flex-direction: column; 
}

.footer-right {
  display: flex;
  align-items: center;
  border-right: 1px solid #b3b8c4a8;
  padding-right: 70px;  
  border-left: 1px solid #b3b8c4a8; 
  padding-left: 80px;
  height: 100px;
}

.footer-links {
  display: flex;
  flex-direction: column; 
}

.footer-logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}  

.footer-copyright {
  font-size: 16px;
  color: #fff;
  margin-top: 10px;
}

.footer-links-a a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  font-size: 18px;
}

.footer-right a {
  color: #fff;
  text-decoration: underline;
  margin-right: 20px;
  font-size: 18px;
}

.footer-links a:hover { 
  color: #B3B8C4;
}

.footer-right a:hover {
  text-decoration: underline;
  color: #B3B8C4;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-left: 40px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.contact-item img {
    width: 20px;
    height: 20px;
}

.contact-item a {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: none;
}
  