body {
  font-family: "Jost", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
} 

.create-course-form {
  background-color: #ffffff;
  border: 1px solid #DCECFC;
  border-radius: 12px;
  padding: 25px;
  width: 100%;
  max-width: 800px;
  margin: 40px auto;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2); 
}

.create-course-form .title-1 {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 20px;
  color: #545F7A;
}

.create-course-form .title-2 {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 18px;
  color: #545F7A;
}

.create-course-form .title-3 {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 16px;
  color: #545F7A;
}

.input-container {
  border: 1px solid #DCECFC;
  border-radius: 12px; 
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
  padding: 13px ;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}

.custom-file-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.file-names-list {
  font-size: 16px;
  color: #333;
  padding-top: 10px;
}

.custom-file-upload {
  display: inline-block;
  background-color: #545F7A;
  color: #ffffff;
  border: none;
  padding: 8px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 12px;
  transition: background-color 0.3s ease;
  font-weight: 700;
  flex-direction: center;
}

.custom-file-upload:hover {
  background-color: #6a779a;
}

.custom-file-upload input[type="file"] {
  display: none;
}
.file-name {
  margin-left: 10px;
  font-size: 16px;
  color: #545F7A;
  font-weight: normal;
  transition: color 0.3s ease;
}

.file-name.selected {
  color: #283044;
}

.custom-button {
  display: inline-block;
  font-size: 16px;
}

.create-course-form input[type="text"], 
.create-course-form input[type="file"],
.create-course-form input[type="number"] {
  width: 97%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #DCECFC;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  font-size: 16px;
  font-family: 'Jost', sans-serif;
  transition: all 0.3s ease;
}

.create-course-form input[type="file"] {
  display: none;
}

.create-course-form #course-description,
.create-course-form textarea {
  resize: vertical; 
  overflow: auto;
  min-height: 46px;
  height: 116px; 
  width: 97%; 
  margin-bottom: 15px;
  border: 1px solid #DCECFC;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  font-size: 16px;
  font-family: 'Jost', sans-serif; 
  color: #545F7A;
  padding: 10px;
}

.create-course-form input[type="text"]:hover,
.create-course-form textarea:hover,
.create-course-form #course-description:hover,
.create-course-form input[type="file"]:hover,
.input-container:hover,
.price-input input:hover,
.custom-select:hover,
.module:hover { 
  border-color: #A7C2D3;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
  
}

textarea::-webkit-scrollbar { 
  width: 8px; 
}

textarea::-webkit-scrollbar-thumb {
  background: #DCECFC;
  border-radius: 12px; 
}

textarea::-webkit-scrollbar-thumb:hover {
  background: #8E9DAF;
  
}

.btns {
  display: flex;
  justify-content: center; /* Центрує кнопки по горизонталі */
  align-items: center; /* Центрує кнопки по вертикалі */
  gap: 20px; /* Відстань між кнопками */
  margin-top: 20px; /* Відступ від вмісту */
}

.btn-сreate {
  background-color: #283044;
  color: #ffffff;
  border: none;
  padding: 14px 24px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 12px;
  transition: background-color 0.3s ease;
  font-weight: 700;
  flex-direction: center;
  margin-right: 20px;
}

.btn-сreate:hover {
  background-color: #38435e;
}

.btn-draft {
  background-color: #545F7A;
  color: #ffffff;
  border: none;
  padding: 14px 24px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 12px;
  transition: background-color 0.3s ease;
  font-weight: 700;
  flex-direction: center;
}

.btn-draft:hover {
  background-color: #6a779a;
}


.price-input {
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
  
}  

.price-input .currency-symbol {
  position: absolute;
  right: 10px;
  color: #545F7A;
  font-size: 16px;
  padding-bottom: 15px;
  margin-right: 20px;
  pointer-events: none;
}

.custom-select-wrapper {
  position: relative; 
  width: 100%;
}

.custom-select.open .options {
  display: block;
  z-index: 1000; 
}

.custom-select {
  position: relative;
  border: 1px solid #DCECFC;
  border-radius: 12px;
  padding: 10px;
  background-color: #fff;
  font-family: 'Jost', sans-serif;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  
}

.select-trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  color: #545F7A;
  
}

.select-trigger .arrow {
  width: 10px;
  height: 10px;
  border-left: 2px solid #545F7A;
  border-bottom: 2px solid #545F7A;
  transform: rotate(-45deg);
  margin-left: 10px;
  transition: transform 0.3s ease;
}

.custom-select.open .arrow {
  transform: rotate(137deg);
}

.category-error,
.education-error {
  color: red; 
  display: none;
  margin-left: 5px;
  margin-top: 3px;
}

.options {
  list-style: none;
  padding: 0;
  margin: 5px 0 0 0;
  border: 1px solid #DCECFC;
  border-radius: 12px;
  background-color: #fff;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  right: 0;
  display: none;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); 
  max-height: 175px;
  overflow-y: auto;
  z-index: 1000;
}

.options::-webkit-scrollbar {
  width: 8px;
}

.options::-webkit-scrollbar-thumb {
  background: #DCECFC;
  border-radius: 12px;
}

.options::-webkit-scrollbar-thumb:hover {
  background: #8E9DAF; 
}

.option {
  padding: 10px;
  font-size: 16px;
  color: #545F7A;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer; 
}

.option:hover {
  background-color: #F0F4F9;
  color: #2a3c4f;
}

.option:active {
  background-color: #E0E7EF;
}

.modules-container {
  margin-bottom: 30px;
}

.modules-container .title-1 {
  margin-top: 40px;
  margin-bottom: 15px;
}

.add-module-btn {
  background-color: #283044;
  color: #ffffff;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 12px;
  transition: background-color 0.3s ease;
  font-weight: 700;
  flex-direction: center;
} 

.add-module-btn:hover {
  background-color: #38435e;
}

#modules-list {
  margin-bottom: 20px;
}

.module {
  background-color: #fff;
  border: 1px solid #DCECFC;
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
} 

.lectures {
  margin-top: 20px; 
}

.lectures .title-3 {
  margin-top: 3px;
  margin-bottom: 13px;
}

.lectures .upload {
  font-size: 16px;
  font-weight: 700;
  color: #545F7A;
  
}
.lectures label {
  margin-top: 10px;
margin-bottom: 10px;
  
}
.lecture {
  background-color: #F5F9FF;
  border: 1px solid #DCECFC;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 20px;

}
  
.lecture textarea {
  width: 97%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #DCECFC;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  font-size: 16px;
  font-family: 'Jost', sans-serif;
  transition: all 0.3s ease;
}

.add-module-btn, 
.delete-module-btn {
  background-color: #545F7A;
  color: #ffffff;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 12px;
  transition: background-color 0.3s ease;
  font-weight: 700;
  flex-direction: center;
  margin-right: 20px;
}

.add-module-btn:hover, 
.delete-module-btn:hover {
  background-color: #6a779a;
}

.add-lecture-btn {
  background-color: #677BAA;
  color: #ffffff;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 12px;
  transition: background-color 0.3s ease;
  font-weight: 700;
  flex-direction: center;
  margin-right: 10px; 
}

.add-lecture-btn:hover {
  background-color: #7a8ab6;
}
.file-names-list span{
  margin-top: 5px;
  background-color: #F5F9FF;
  border: none;
  font-size: 16px;
  color: #545F7A;
  font-weight: normal;
  transition: color 0.3s ease;
  margin-right: 0px;
}
.file-names-list .delete-file-btn {
  color: red;
  border: none;
  cursor: pointer;
  background-color: #F5F9FF;
  font-size: 16px;  
} 

.file-name-item {
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}
.delete-lecture-btn,.delete-lecture-btn img{
  width: 30px;
  height: 30px;
  border: none;
  background-color: #F5F9FF;
  cursor: pointer; 
  transition: transform 0.3s ease;  
  margin-bottom: 15px;
  margin-right: 10px;
}

.delete-lecture-btn img:hover{
  content: url('../images/delete-hover.png');
  transform: scale(1.1);  
}