body { 
    margin: 0;
    padding: 0;
    background-color: #fff; 
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}
.page-container {
    display: flex;
    flex-direction:column;
    min-height: 100vh; 
}  

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #FFFFFF;
    margin: 5px 2px;
    margin-top: 60px;
    border-radius: 2px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #283044;
    border-radius: 12px;
    min-height: 40px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #506088;
  }
  
  ::-webkit-scrollbar:horizontal {
    height: 10px;
  }
  
  ::-webkit-scrollbar-track-horizontal {
    background: #FFFFFF;
    margin: 2px 5px;
    border-radius: 2px;
  }
  
  ::-webkit-scrollbar-thumb-horizontal {
    background: #283044;
    border-radius: 12px;
    min-width: 40px;
  }
  
  ::-webkit-scrollbar-thumb-horizontal:hover {
    background: #506088;
  }

/* Profile Container */
.profile-container {
    display: flex;  
    flex-direction: row; 
    justify-content: space-between; 
    align-items: flex-start; 
    margin-top: 50px;
    font-family: "Inter", sans-serif;
}

/* User Info Section */
.profile-container .user-info {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 20%;    
    padding-left: 100px;  
}

/* Container My Section */
.profile-container .container-my {
    display: flex;  
    flex-direction: column;
    width: 80%;    
    padding-left: 50px;
    justify-content: flex-start;  
    align-items: flex-start;
    padding-right: 200px;
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
    font-weight: 100;
}


.profile-container .container-my div {
    margin-bottom: 3px;
} 

.chapters {
    display: flex;
    justify-content: center;

}

.profile-image {
    width: 130px;
    height: 130px;
    height: auto; 
    border-radius: 50%;  
    object-fit: cover;  
}

#profile-image {
    cursor: pointer;
    width: 120px;  
    height: 120px;
    object-fit: cover;  
    border-radius: 50%; 
}

.action-buttons {
    display: flex;
    gap: 8px;
    margin-top: 2px; 
    justify-content: center;  
}

.action-buttons button {
    background-color: transparent;
    border: none;
    cursor: pointer; 
    color: #4caf50;  
    font-size: 14px;
    
}

.action-buttons button#remove-image {
    color: #ff4d4f; 
}

.action-buttons button:hover {
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
}

p {
    font-weight: 400;
    font-size: 17px;
    text-align: left;
}

.profile-container .user-info p {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    margin-top: 5px;
    font-size: 18px;
    color: #283044;               
    margin-bottom: 8px;    
} 

.profile-container .user-info  .btn-teacher {
    width: 70%;
    max-width: 200px;
    font-family: "Inter";
    padding: 9px 5px;
    background: #fff;
    color: #000;
    border-radius: 12px;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    margin-top: 10px;
    margin-bottom: 12px;
    border: 1px solid #000;
    position: relative;
    overflow: hidden;
}


.btn-teacher span:not(:nth-child(6)) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
    width: 30px;
    background-color: #283044;
    border-radius: 50%;
    transition: all 0.6s ease;  
  }
  
  .btn-teacher span:nth-child(6) {
    position: relative;
    
  }
  
  .btn-teacher span:nth-child(1) {
    transform: translate(-3.3em, -4em);
    
  }
  
  .btn-teacher span:nth-child(2) {
    transform: translate(-6em, 1.3em);
  }
  
  .btn-teacher span:nth-child(3) {
    transform: translate(-.2em, 1.8em);
  }
  
  .btn-teacher span:nth-child(4) {
    transform: translate(3.5em, 1.4em);
  }
  
  .btn-teacher span:nth-child(5) {
    transform: translate(3.5em, -3.8em);
  }
  
  .btn-teacher:hover span:not(:nth-child(6)) {
    transform: translate(-50%, -50%) scale(9);
    transition: 1.5s ease;
  }

  .profile-container .user-info  .btn-teacher:hover {
    color: #fff;
  }

.tab-container {
    margin: 20px;
}

.tabs {
    max-width: 160px;
    display: flex;
    flex-direction: column;
}

.tab-link {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    text-align: left; 
    color: #283044;
    transition: color 0.3s ease-in-out;
    margin-top: 12px;
    border-radius: 12px;
    font-weight: 500;
    display: flex;
}

.tab-icon {
    width: 22px;
    height: 22px;
    margin-right: 6px;
}

.tab-link:hover {
    color: #747474; /* Зміна кольору тексту при наведенні */
}

.tab-content {
    margin-top: 20px;
   
}
.tab-content h2{
    font-size: 30px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
}
.tab-content p{
    font-size: 20px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}

.tab-panel {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 20px;
    text-align: center; /* Центрування тексту */
}

.tab-panel.active {
    display: block;
    opacity: 1;
}
/* Вміст вкладки */
.input-group {
    margin: 15px auto;
    width: 100%;
    max-width: 400px; /* Ширина для полів вводу */
    text-align: left; /* Для вирівнювання підписів */
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 500;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px; /* Заокруглення полів */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Легка тінь */
    font-size: 16px;
    font-family: "Inter", sans-serif;
    transition: all 0.3s ease;
}

.input-group input:focus {
    border-color: #283044;
    box-shadow: 0 4px 10px rgba(0, 123, 255, 0.2); /* Синя підсвітка при фокусі */
    outline: none;
}
/* Кнопки */
.modal button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 370;
    font-family: Inter;
    color: #fff;
    background-color: #283044;
    border: none;
    border-radius: 12px; /* Заокруглення кнопки */
    cursor: pointer;
    transition: all 0.3s ease;
}
.modal button:hover {
    background-color: #0c101a;
  
}
.password-container {
    display: flex;
    align-items: center;
    position: relative;
}

.password-container input {
    flex: 1;
    padding-right: 60px;
}

.password-container .toggle-password  {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    color: #6c757d; /* Колір іконки */
}

.password-container .toggle-password:hover  {
    color: #495057; 
}
.password-container .toggle-password i {
    font-size: 1rem;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    margin: 15px;
    padding: 20px;
    border-radius: 12px;
    width: 600px;
    max-height: 80vh; 
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease; /* Анімація */
}

/* Public profile specific modal styles */
.modal-content.public-profile {
    width: 80%;
}

/* Ensure iframe takes full width */
.iframe-container {
    width: 100%;
    height: 80vh;
    overflow: hidden;
    border-radius: 12px;
}

.iframe-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}
/* Анімація для модального вікна */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-button:hover,
.close-button:focus {
    color: #000;
    text-decoration: none;
}

.profile-container .container-my {
    text-align: center;
    padding-left: 10%;
    justify-content: flex-end;
}

.my-courses { 
    padding: 0px 15px 15px 15px; 
    
}
.my-courses h2 { 
    text-align: left; 
    margin-top: 0px;
    
}

.course {
    background-color: #e0e0e0; 
    padding: 2px 15px;
    border-radius: 12px; 
    text-align: center; 
    margin-bottom: 10px;
    width: 250px;
}
.course .percent {
    font-size: 12px; 
    margin-bottom: 10px;
    margin-top: 0;
    padding-top: 0;
    text-align: right; 
    font-weight: 560;
}

.course img {
    width: 250px;
    height: 180px;
    border-radius: 12px;
}
.courses-list {
    display: grid;  
    grid-template-columns: repeat(3, 1fr); 
    gap: 40px; 
    overflow: hidden;
    transition: height 0.5s ease-in-out;
    
}
.courses-list .course:nth-child(n+4) {
    display: none; /* Ховаємо зайві картки */
}

.courses-list.expanded .course:nth-child(n+4) {
    display: block; /* Показуємо всі картки після натискання */
}

/*.courses-list {
    /*display: grid;
    grid-template-columns: repeat(3, 1fr); 
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 40px;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
}*/
.btn-resume { 
    width: 100%;
    font-family: "Inter", sans-serif;
    padding: 8px 10px;
    background: #ffffff;
    color: #000000;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 640;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    margin-top: 10px;
    margin-bottom: 15px;
}
    
.course h3 { 
    margin-bottom: 5px;
}

.progress-bar {
    background-color: #ffffff;
    border-radius: 12px;
    height: 8px;
    width: 100%;
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-bottom: 0;
}

.progress-bar span {
    display: block;
    height: 100%;
    margin-top: 0;
    padding-top: 0;
    background-color: #283044;
    border-radius: 5px;
}

.btn-resume:hover {
    background-color: #545F7A;
    color: #ffffff;
    transform: translateY(-2px);
}

.courses-list.expanded {
    height: auto; 
}

.courses-list .course:nth-child(n+4) {
    display: none;
}

.courses-list.expanded .course:nth-child(n+4) {
    display: block;
}
.my-courses .p-1 {
    font-weight: 580;
    font-size: 18px;
    margin-bottom: 8px;
    text-align: left;
}
.btn-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.btn-view-all-1,
.btn-view-all-2,
.btn-view-all-3,
.btn-view-all-4{
    text-align: center; 
    padding: 8px 20px;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 640;
    background: #283044;
    color: #ffffff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
  
}

.btn-view-all-1:hover,
.btn-view-all-2:hover,
.btn-view-all-3:hover,
.btn-view-all-4:hover{
    background-color: #545F7A;
    color: #ffffff;
    transform: translateY(-2px);
}

@media (max-width: 1360px) {
    .courses-list {
        grid-template-columns: repeat(2, 1fr); 
    }
    
    .courses-list .course:nth-child(n+3) {
        display: none;
        justify-content: center;

    }

    .courses-list.expanded .course:nth-child(n+3) {
        display: block;
    } 
}


@media (max-width: 1010px) {
    .courses-list {
        grid-template-columns: 2fr; 
        height: 275px;  
    }

    .course {
        max-width: 100%;
    }
    
    .courses-list .course:nth-child(n+2) {
        display: none;
    }
    
    .courses-list.expanded .course:nth-child(n+2) {
        display: block;
    }
}

.my-certificates { 
    padding: 0px 15px 15px 15px; 
    
}
.my-certificates h2 { 
    text-align: left; 
    
}

.certificate {
    background-color: #e0e0e0;
    border-radius: 12px;
    padding: 2px 15px;
    margin-bottom: 10px;
    width: 250px;
}

.my-certificates .p-1 {
    font-weight: 580;
    font-size: 18px;
    margin-bottom: 8px;
    text-align: left;
}

.my-certificates .p-2 {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: left;
    margin-top: 8px;
}

.certificates-list {
    display: grid;  
    grid-template-columns: repeat(3, 1fr); 
    gap: 40px; 
    overflow: hidden;
    transition: height 0.5s ease-in-out; 
}

.certificate h3 { 
    margin-bottom: 5px;
}

.btn-download { 
    width: 60px;
    height: 60px;  
    background: #ffffff;
    color: #000000;
    border: none;
    border-radius: 100px;    
    font-weight: 640;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 70%;
}

.btn-download img { 
    width: 60%;
    height: 50%;  
    margin-top: 2px;
}

.btn-download:hover {
    background-color: #a5a5a5;

} 

.btn-download:hover img { 
    color: #ffffff; 
} 


.certificates-list.expanded {
    height: auto;
}

.certificates-list .certificate:nth-child(n+4) {
    display: none;
}

.certificates-list.expanded .certificate:nth-child(n+4) {
    display: block;
} 

@media (max-width: 1360px) {
    .certificates-list {
        grid-template-columns: repeat(2, 1fr);   
    }
    
    .certificates-list .certificate:nth-child(n+3) {
        display: none;
        justify-content: center;

    }

    .certificates-list.expanded .certificate:nth-child(n+3) {
        display: block;
    } 
}

@media (max-width: 1010px) {
    .certificates-list {
        grid-template-columns: 2fr; 
        height: 190px;  
    }

    .certificate {
        max-width: 100%;
    }
    
    .certificates-list .certificate:nth-child(n+2) {
        display: none
    }
    
    .certificates-list.expanded .certificate:nth-child(n+2) {
        display: block;
    }
}


.my-bookmarks { 
    padding: 0px 15px 15px 15px; 
    
}
.my-bookmarks h2 { 
    text-align: left; 
    margin-top: 0px;
    
}

.bookmark {
    background-color: #e0e0e0; 
    padding: 2px 15px;
    border-radius: 12px; 
    text-align: center; 
    margin-bottom: 10px;
    width: 250px;
}

.bookmark img {
    width: 250px;
    height: 180px;
    border-radius: 12px;
}

.bookmarks-list {
    display: grid;  
    grid-template-columns: repeat(3, 1fr); 
    gap: 40px; 
    overflow: hidden;
    transition: height 0.5s ease-in-out; 
}

.btn-open { 
    width: 100%;
    font-family: "Inter", sans-serif;
    padding: 8px 10px;
    background: #ffffff;
    color: #000000;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 640;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 10px;
    margin-bottom: 15px;
}
.remove-bookmark{
    width: 100%;
    font-family: "Inter", sans-serif;
    padding: 8px 10px;
    background: #283044;
    color: #ffffff;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 640;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 10px;
    margin-bottom: 15px;
}
.remove-bookmark:hover{
    background-color: #0c101a;
    color: #ffffff;
}
    
.bookmark h3 { 
    margin-bottom: 5px;
}

.btn-open:hover {
    background-color: #a5a5a5;
    color: #ffffff;
}

.bookmarks-list.expanded {
    height: auto; 
}

.bookmarks-list .bookmark:nth-child(n+4) {
    display: none;
}

.bookmarks-list.expanded .bookmark:nth-child(n+4) {
    display: block;
}
.my-bookmarks .p-1 {
    font-weight: 580;
    font-size: 18px;
    margin-bottom: 15px;
    text-align: left;
}

@media (max-width: 1360px) {
    .bookmarks-list {
        grid-template-columns: repeat(2, 1fr); 
    }
    
    .bookmarks-list .bookmark:nth-child(n+3) {
        display: none;
        justify-content: center;

    }

    .bookmarks-list.expanded .bookmark:nth-child(n+3) {
        display: block;
    } 
}


@media (max-width: 1010px) {
    .bookmarks-list {
        grid-template-columns: 2fr; 
        height: 235px;  
    }

    .bookmarks {
        max-width: 100%;
    }
    
    .bookmarks-list .bookmark:nth-child(n+2) {
        display: none;
    }
    
    .bookmarks-list.expanded .bookmark:nth-child(n+2) {
        display: block;
    }
}

.btn-view-all-1 { 
    width: 150px;
    padding: 8px 10px;
    font-size: 17px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    background: #283044;
    color: #ffffff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 10px;
    margin-bottom: 12px;
    align-items: center;
    justify-content: center;
}

.btn-view-all-1:hover {
    background-color: #0c101a;
}  

.btn-view-all-2 { 
    width: 150px;
    padding: 8px 10px;
    font-size: 17px;
    font-weight: 400;
    font-family: "Inter", sans-serif; 
    background: #283044;
    color: #ffffff;
    border: none;
    border-radius: 12px; 
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 10px;
    margin-bottom: 12px;
    align-items: center;
    justify-content: center;
}

.btn-view-all-2:hover {
    background-color: #0c101a;
}  

.btn-view-all-3 { 
    width: 150px;
    padding: 8px 10px;
    font-size: 17px;
    font-weight: 400;
    font-family: "Inter", sans-serif; 
    background: #283044;
    color: #ffffff;
    border: none;
    border-radius: 12px; 
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 10px;
    margin-bottom: 12px;
    align-items: center;
    justify-content: center;
}

.btn-view-all-3:hover {
    background-color: #0c101a;
}  

.btn-view-all-4 { 
    width: 150px;
    padding: 8px 10px;
    font-size: 17px;
    font-weight: 400;;
    font-family: "Inter", sans-serif; 
    background: #283044;
    color: #ffffff;
    border: none;
    border-radius: 12px; 
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 10px;
    margin-bottom: 12px;
    align-items: center;
    justify-content: center;
}

.btn-view-all-4:hover {
    background-color: #0c101a;
}  
/* Стиль для контейнера з коментарями */
#messages-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    background-color: #f4f7fa;
    border-radius: 10px;
}

.message-item {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column; 
}
 

.message-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
} 

.user-avatar,
.default-avatar {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    color: white;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    transition: background-color 0.3s ease;
    object-fit: cover;  /* Додаємо властивість для кращої обробки зображень */
}

.user-name { 
    font-size: 18px;
    margin-bottom: 5px;
}

.comment-time {
    margin-left: auto;
    font-size: 15px !important;
    color: #666666 !important;
}

.course-info {
    display: flex;
    align-items: center;
    margin-top: 15px;
    padding: 10px;
    border-radius: 8px; 
    /* border: 1px solid #545f7a;  */
    width: 85%;
    margin-left: 3%; 
}

.course-thumbnail {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    object-fit: cover;
    margin-right: 15px; 
} 

.course-name {
    font-size: 16px !important;;
    font-weight: bold;
    color: #545f7a; 
    transition: color 0.3s ease;
}
 
/* Контент коментаря */
.comment-content {
    font-size: 16px !important;
    margin: 12px 0;
    line-height: 1.5; 
    color: #333;
    padding: 12px;
    border-radius: 6px;
    background: linear-gradient(145deg, #f6f5f5, #ededed); /* Легкий градієнт */
    position: relative;
    overflow: hidden; 
}    

/* Стиль для кнопки переходу до курсу */
.go-to-comment {
    background-color: #545f7a;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s ease;
    display: inline-block; 
}

.go-to-comment:hover {
    background-color: #545f7a;
}

.go-to-comment.small {
    font-size: 13px;
}

/* Стилі для відповіді на коментар */
.reply-to-container {
    margin-top: 15px;
    padding-left: 15px;
    border-left: 3px solid #545f7a;
    margin-bottom: 15px;
    font-style: italic;
    color: #555; 
}

.reply-to {
    font-size: 16px !important;
}
/* Стилі для повідомлення, якщо немає відповідей */
.error-message {
    color: red;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
}

.no-replies {
    text-align: center;
    font-size: 16px;
    color: #777;
}

.message-item.main-comment {
    background-color: #f1f8ff;
}
 
.message-item.reply {
    background-color: #ffff; 
  }

.message-item.main-comment .comment-content {  
    font-size: 16px; /* Трохи менший розмір шрифта */
    margin: 12px 0; /* Менший вертикальний відступ */
    line-height: 1.5; /* Стиснута висота рядка */
    color: #333; /* Темно-сірий колір для тексту */
    padding: 12px; /* Внутрішні відступи */
    background: linear-gradient(145deg, #e4ebf2, #e3e9ef); 
    position: relative;
    overflow: hidden;
    border-radius: 6px; 
}