body {
    background: linear-gradient(270deg, #fff 0%, #f5faff 58.57%);
    width: 100%;
    margin: 0;
}

.h1-courses {
    font-family: 'Jost', Medium;
    font-weight: 500;
    font-size: 80px;
    color: #000;
    margin-left: 64px;
}

.h2-find {
    margin-top: 48px;
    font-weight: 300;
    font-size: 34px;
    color: #000;
    margin-left: 64px;
}

.search-container {
    margin-top: 24px;
    position: relative;
    width: 75%; 
    margin-left: 64px;
}

.Search {
    border-radius: 24px;
    width: 100%;
    height: 75px;
    background: #e3e8ed;
    border: none;
    color: #000000;
    padding-right: 160px; 
    box-sizing: border-box; 
    font-size: 24px;
    font-family: 'Jost', Regular;
    font-weight: 200;
    padding-left: 20px;
}

.search-btnn {
    border-radius: 0 24px 24px 0;
    width: 157px;
    height: 100%; 
    background: #DCECFC;
    color: #000000;
    font-weight: 200;
    font-size: 18px;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    cursor: pointer;
}

.filters {
    position: sticky;
    margin-top: 64px;
    margin-left: 64px;
    border-radius: 24px;
    width: 400px;
    height: 900px;
    background: #DCECFC;
    margin-bottom: 32px;
}

h4.filters-clear {
    font-weight: 200;
    font-size: 24px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #000;
    margin-left: 32px;
    cursor: pointer;
    margin-top: 32px;
    padding-top: 22px;
}

.filters-themes {
    font-weight: 400;
    font-size: 24px;
    color: #000;
    margin-left: 32px;
}

.checkbox {
    display: flex; 
    font-weight: 300;
    font-size: 20px;
    color: #000;
    margin-right: 20px; 
    margin-bottom: 10px; 
    margin-left: 32px;
}

.checkbox input {
    margin-right: 6px; 
    margin-bottom: 2px;
}

.filter-cleared-message {
    background-color: #28a745;
    color: #fff;
    padding: 10px;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    font-size: 18px;
}

.container-text {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}

.right-container {
    width: 80%; 
    box-sizing: border-box;
}

.Result {
    font-weight: 500; 
    font-size: 22px; 
    color: #000; 
    margin-bottom: 750px;
    margin-left: 48px;
}

.Sort {
    font-weight: 500; 
    font-size: 22px; 
    color: #000; 
    margin-right: 64px; 
    margin-top: 18.7px;
}

.dropdown {
    font-size: 16px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    font-family: 'Jost', sans-serif;
}
