body { 
    margin: 0;
    padding: 0;
    background-color: #fff; 
    font-family: 'Inter', sans-serif;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
} 

.site-header {
    background-color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}

.container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between; 
    margin: 0;   
    padding: 0;
}

.left-section {
    display: flex;
    align-items: center;
    gap: 24px;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    color: #283044;
}

.logo a {
    text-decoration: none; 
    color: inherit; 
    display: flex; 
    align-items: center;
}

.logo a:hover {
    opacity: 0.8;
}

.logo img {
    height: 30px;
    margin-right: 8px;
}

.nav-menu {
    display: flex;
    gap: 24px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}

.nav-menu a {
    text-decoration: none;
    color: #283044;
}

.nav-menu a:hover {
    text-decoration: none;
    color: #545F7A;
}

.right-section {
    display: flex;
    align-items: center;
    gap: 24px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}

.right-section a {
    text-decoration: none;
    color: #283044;
}

.search {
    position: relative;
    display: inline-block; 
}

.search input[type="text"] { 
    padding: 5px;
    border-radius: 4px;
    font-family: 'Inter', sans-serif;
    border: 2px solid #c7c7c7;
    font-size: 16px;
    box-sizing: border-box;
    border-radius: 10px;
    width: 15vw;
    color: #fff;
    transform: scale(1.05);
    transition: all 0.1s ease;
}

.search .search-btn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.lang-switcher {
    user-select: none;
}

.lang-switcher a {
    text-decoration: none;
    color: #283044;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.right-section .btn {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 5px; 
    cursor: pointer;
    padding: 0;
}

.right-section .btn a {
    display: flex;
    align-items: center;  
    gap: 7px;  
    transition: color 0.3s ease, transform 0.3s ease; 
    text-decoration: none;
    font-family: 'Inter', sans-serif; 
    font-size: 18px;
    font-weight: 450;
    color: #283044;  
}

.right-section .btn img {
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;  
}  

.right-section .btn:hover a {
    color: #545F7A; 
    transform: scale(1.04); 
}

.right-section a:hover {
    color: #545F7A;  
}

.right-section .btn:hover img { 
    content: url('images/user-avatar-hover.png');  
    transform: scale(1.01);
    box-shadow: 0 10px 20px rgba(112, 112, 112, 0.2); 
}  

.sign-in-btn {
    background-color: #283044;
    color: #fff;
    padding: 5px 15px;
    border: none;
    font-size: 16px;
    border-radius: 9px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
}

.sign-in-btn:hover {
    background-color: #545F7A;
    color: #fff;
    transform: scale(1.05);
    transition: all 0.1s ease;
}

.sign-up-btn {
    background-color: #78A1BB;
    color: #fff;
    padding: 5px 15px;
    border: none;
    font-size: 16px;
    border-radius: 9px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
}

.sign-up-btn:hover {
    background-color: rgb(145, 193, 223);
    color: #fff;
    transform: scale(1.05);
    transition: all 0.1s ease;
}

a.lang-btn {
    cursor: pointer;
}